        <IfModule mod_rewrite.c>
          RewriteEngine On
          RewriteBase /sub/test/

          RewriteRule ^api/(.*)$ api/$1 [L,NC]

          RewriteCond %{REQUEST_FILENAME} -f [OR]
          RewriteCond %{REQUEST_FILENAME} -d
          RewriteRule ^ - [L]

          RewriteRule ^index\\.html$ - [L]
          RewriteRule . /sub/test/index.html [L]
        </IfModule>